/* Fix the FUllscreen changing padding on other bars. */
/* :root[tabsintitlebar][sizemode="maximized"] #titlebar {
	-moz-appearance: none !important;
} */

/* Remove the main window top border */
/* NOTE: IDK what this does */
#main-window:root[sizemode="normal"][tabsintitlebar] {
	border-top: 0px !important;
}

/* Drop Down URL with BLUR need layout.css.backdrop-filter.enabled = true */
.urlbarView {
	background-image: url(image/noise-512x512.png) !important;
	/* NOTE: Colour: Search bar dropdown contents */
	background-color: #b3004748 !important;
	backdrop-filter: blur(32px) !important;
}
 
/* Make the URL bar not fugly when open (Ctrl+L) */
#urlbar-background {
	display: none !important;
}

/* Bookmarks bar with BLUR need layout.css.backdrop-filter.enabled = true */
#PersonalToolbar { 
	background-image: url(image/noise-512x512.png) !important;
	/* NOTE: Colour: bookmarks bar when open */
	background-color: #2A2A2AC0 !important;
	backdrop-filter: blur(32px) !important;
}

/* Remove the top tab line - TopBar */
.tab-line {
	display: none !important;
}

/* Removes horizontal tabs */
#TabsToolbar {
	padding-inline-start: initial !important;
	visibility: collapse;
}

/* Hide tab bar (but that's above so...???) */
/* #navigator-toolbox>#titlebar {
	display: none !important;
} */




/* Show bookmarks toolbar when urlbar is focused */
/* #nav-bar:focus-within + #PersonalToolbar{
	transition-delay: 100ms !important;
	transform: rotateX(0);
} */

/* Show bookmarks toolbar when cursor is over the toolbar area */
#navigator-toolbox:hover>#PersonalToolbar {
	transition-delay: 100ms !important;
	transform: rotateX(0);
}

/* Autohides bookmarks toolbar and auto-opens on hover */
/* FIXME: Boomarks toolbar doesn't open up visibly/correctly */
#PersonalToolbar {
	--uc-bm-height: 20px;
	/* Might need to adjust if the toolbar has other buttons */
	--uc-bm-padding: 6px;
	/* Vertical padding to be applied to bookmarks */
}

/* SECTION IDK WHAT THESE DO */
:root[uidensity="compact"] #PersonalToolbar {
	--uc-bm-padding: 1px
}
:root[uidensity="touch"] #PersonalToolbar {
	--uc-bm-padding: 6px
}
#PersonalToolbar:not([customizing]) {
	margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
	transform: rotateX(90deg);
	transform-origin: top;
	transition: transform 135ms linear 600ms !important;
	z-index: 2;
}
#PlacesToolbarItems>.bookmark-item {
	padding-block: var(--uc-bm-padding) !important;
}
#PersonalToolbar {
	-moz-box-ordinal-group: 3 !important;
}
#titlebar {
	-moz-box-ordinal-group: 2 !important;
}
#nav-bar {
	-moz-box-ordinal-group: 1 !important;
}
/* !SECTION IDK WHAT THESE DO */



/* -------------------------------------------------------------------------- */
/* SECTION Hide alt tab bar */
/* -------------------------------------------------------------------------- */
#titlebar { -moz-appearance: none !important; }
:root[tabsintitlebar][sizemode="maximized"]{ padding-top: 0px !important; }
#titlebar:not(:hover) > #toolbar-menubar[autohide="true"][inactive] + #TabsToolbar { visibility: collapse; }
#toolbar-menubar[autohide]:not([inactive]),
#toolbar-menubar[autohide="true"]:not([inactive]) + #TabsToolbar > .titlebar-buttonbox-container{ visibility: collapse !important; }
/* -------------------------------------------------------------------------- */
/* !SECTION Alt tab bar */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Search bar */
/* -------------------------------------------------------------------------- */

/* Hide some buttons for hover */
#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#page-action-buttons {
	opacity: 0;
}

#page-action-buttons {
	transition: opacity 0.15s ease;
}

#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#identity-box {
	opacity: 0;
	/*visibility: collapse;*/
}

#identity-box {
	/*transition: visibility 0.30s ease-in-out, opacity 0.30s ease-in-out;*/
	transition: opacity 0.15s ease;
}

#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#tracking-protection-icon-container {
	opacity: 0;
}

#tracking-protection-icon-container {
	transition: opacity 0.15s ease;
}

/* Search Bar #2b2b2bd1 */

#urlbar-input-container {
	/* Fixing icons right and left padding inside search bar for hovering  */
	padding-left: 7px;
	padding-right: 7px;
}

#navigator-toolbox {
	/* NOTE: Colour: very top of top bar on Firefox,
	and on the bottom of top bar when bookmarks aren't hidden */
	background-color: #ff006450 !important;
	/* This area isn't draggable */
	padding-top: 2px !important;
	--lwt-toolbar-field-background-color: transparent !important;
	--lwt-toolbar-field-border-color: transparent !important;
	--lwt-toolbar-field-focus: transparent !important;
	--toolbar-field-focus-border-color: #77777773 !important;
}

#navigator-toolbox:hover {
	background-color: #00ffff50 !important;
}

#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme,
#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme:hover {
	border-color: transparent;
}

#urlbar {
	border: 0 !important;
	/* NOTE: Colour: Bottom of search bar when closed/open */
	border-bottom: 1px solid #ff006450 !important;
	border-radius: 10px 10px 10px 10px !important;
	background-image: none !important;
	/* NOTE: Colour: Search bar */
	/* background-color: #0000004d !important; */
	background-color: #0000004d !important;
	box-shadow: none !important;
	text-align: center !important;
}

#tracking-protection-icon-container {
	border-inline-end: none !important;
	border-image: none !important;
}
/* -------------------------------------------------------------------------- */
/* !SECTION Search bar */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Icons and stuff IDK */
/* -------------------------------------------------------------------------- */
#PanelUI-menu-button {
	list-style-image: url(image/Fx-Browser-icon-oneColor-white.png) !important;
}

#PanelUI-button {
	margin-inline-start: 0 !important;
	padding-inline-start: 0 !important;
	border: none !important;
	border-inline-start: none !important;
}

#PanelUI-button #PanelUI-menu-button .toolbarbutton-icon {
	opacity: 0.7 !important;
}

#home-button {
	list-style-image: url(image/fire-2-32.ico) !important;
}

#home-button .toolbarbutton-icon {
	opacity: 0.7 !important;
}

#PlacesToolbarItems .bookmark-item[container] {
	list-style-image: url(image/folder.svg) !important;
}

#forward-button {
	list-style-image: url(image/right-arrow.svg) !important;
}

#back-button {
	list-style-image: url(image/left-arrow.svg) !important;
}

#back-button>.toolbarbutton-icon {
	border: none !important;
	border-radius: 0 !important;
	background: none !important;
	width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
	height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
	padding: var(--toolbarbutton-inner-padding) !important;
	border-radius: var(--toolbarbutton-border-radius) !important;
}

#back-button:not([disabled]):not([open]):hover>.toolbarbutton-icon {
	box-shadow: none !important;
	background-color: var(--toolbarbutton-hover-background) !important;
}
/* -------------------------------------------------------------------------- */
/* !SECTION Icons and stuff IDK */
/* -------------------------------------------------------------------------- */
