* {
  /*scrollbar-color:  rgba(47, 47, 47, 0.66) rgba(238, 238, 238, 0.38) !important; */
  scrollbar-width: thin !important;
  
  }
  
  @-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
      background: #1d2021 !important;
    }
  }
  
  
/* :root */

