/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}


/* makes the top bar smaller */
#nav-bar {
    margin-top: -10px;
}


/* hides the sidebar header (bookmarks, tabs etc.) */
#sidebar-header {
  visibility: collapse !important;
} 